<section class="section has-background-dark">
  <div class="container">
    <div class="academic-partner has-text-centered mt-6 mb-4">
      <p class="is-size-6 has-text-grey-light mb-2">Academic Partner</p>
    
      <div>
        <img 
          src="/img/logos/Akdeniz_University.png" 
          alt="Akdeniz University Logo" 
          style="max-width: 120px; opacity: 0.85;"
        >
      </div>
    
      <p class="is-size-7 has-text-grey mt-2">
        Akdeniz University – Mediterranean Civilisations Research Institute<br>
        Department of Mediterranean Underwater Cultural Heritage Research
      </p>
    </div>
  </div>
</section>
